.box {
  width: 1000px;
  height: 600px;
  border: 5px solid black;
  position: relative;
  top: 60px;
  left: 80px;
}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  position: relative;
  top: 150px;
  left: 50px;
  transform: rotate(20deg);
  filter: grayscale(1);
}
.img1:hover {
  transform: rotate(0deg);
  z-index: 1;
  filter: grayscale(0);
  opacity: 1;
}
.img2:hover {
  transform: rotate(0deg);
  z-index: 1;
  filter: grayscale(0);
  opacity: 1;
}
.img3:hover {
  transform: rotate(0deg);
  z-index: 1;
  filter: grayscale(0);
  opacity: 1;
}
.img4:hover {
  transform: rotate(0deg);
  z-index: 1;
  filter: grayscale(0);
  opacity: 1;
}
.img5:hover {
  transform: rotate(0deg);
  z-index: 1;
  filter: grayscale(0);
  opacity: 1;
}
.img6:hover {
  transform: rotate(0deg);
  z-index: 1;
  filter: grayscale(0);
  opacity: 1;
}
